*{
    margin: 0;
    padding: 0;
    outline: none;
}
h1 {
    text-align: center;
    margin: 10px 0px;
    font-weight: bolder;
  }
  h1 span{
   padding: 5px 20px;
   background-color: #85C1E9;
   color: white;
   border-radius: 20px;
  }
  #stopwatch
  {
    left: 50%;
    transform: translate(-50%, 0);
      background-color: rgb(119, 119, 119);
      z-index: -2;
    position: absolute;
    width: 100%;
      /* margin: 10px; */
      text-align: center;
      border-radius: 5px;
      font-family: open-sans;
  }
  #display
  {
      background-color: #85C1E9;
      color: white;
      margin: 10px;
      font-size: 6vw;
      padding: 5px 20px;
  }
  .swbutton
  {
      font-size: 1.5vw;
      padding: 10px;
      margin: 0 5px;
      width: 110px;
      border: 0;
      border-radius: 20px;
      color: white;
      background-color: #85C1E9;
  }
  .swbutton:hover
  {
      color: #85C1E9;
      background-color: white;
  }
  #info
  {
    min-height: 70vh;
    background-color: #85C1E9;
      margin: 10px;
      overflow: auto;
  }
  #lapsDisplay
  {
      font-size: 3vw;
      color: white;
      margin: 0;
  }